
code {
  font-family: 'Roboto Mono', monospace;
    padding: 1px 5px;
    background-color: hsl(210,8%,90%);
}


/* Style the header */
.header {
  padding: 10px 16px;
  text-align: center;
  background: #ffcc5e;
  color: white;
  font-size: 30px;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}



*{
  font-family: 'Raleway', sans-serif;
  }

.typing {
  width: 100%;
  height: 50vh;
  background: #2b323c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

text-type {
  font-family: 'minecraft', monospace;
  font-size: 32px;
  color: #0034d1;
  
}

.white-module {
  width: 100%;
  height: 50vh;
  background: #ffffff;
  color: #000;
  display: flex;
  align-items: center;
}
.red-module {
  width: 100%;
  height: 50vh;
  background: #ad1818;
  color: #fff;
  display: flex;
  align-items: center;
}
.green-module {
  width: 100%;
  height: 50vh;
  background: #13630c;
  color: #fff;
  display: flex;
  align-items: center;
}
.yellow-module {
  width: 100%;
  height: 50vh;
  background: #c1c41f;
  color: #000;
  display: flex;
  align-items: center;
}
.black-module {
  width: 100%;
  height: 50vh;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
}
.margin-10per {
  margin-left: 10%;
  margin-right: 10%
}
.margin-10vh {
  margin-right: 10vh;
  margin-left: 10vh
}


::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

/*! bulma.io v0.4.0 | MIT License | github.com/jgthms/bulma */
@-webkit-keyframes spinAround{
  from{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  to{
    -webkit-transform:rotate(359deg);
    transform:rotate(359deg)
  }
}
@keyframes spinAround{
  from{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  to{
    -webkit-transform:rotate(359deg);
    transform:rotate(359deg)
  }
}
/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{
  margin:0;padding:0
}
h1,h2,h3,h4,h5,h6{
  font-size:100%;
  font-weight:normal
}
ul{
  list-style:none
}
button,input,select,textarea{
  margin:0
}
html{
  box-sizing:border-box
}
